<h1>Hanuel's Survey</h1>
<h2>{{ survey.question }}</h2>
<form action="{% url 'save_survey' %}" method="POST">
    {% csrf_token %}
    <input type="radio" name="num" value="1">{{ survey.ans1 }}<br/>
    <input type="radio" name="num" value="2">{{ survey.ans2 }}<br/>
    <input type="radio" name="num" value="3">{{ survey.ans3 }}<br/>
    <input type="radio" name="num" value="4">{{ survey.ans4 }}<br/>
    <br>
    <input type="hidden" name="survey_idx" value="{{ survey.survey_idx }}" >
    <input type="submit" value="투표하기">
    <a href='{% url 'result' survey.survey_idx %}'><input type="button" value="결과확인"></a>
</form>