<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<style>
    #wrap {
        width: 550px;
        margin: auto;
    }
    .sub{
        font-size: 30px;
    }
</style>
<body>
<div id="wrap">
    {% for survey in surveys %}
    <form method="post" action="{% url 'complete' %}">
        {% csrf_token %}
        <div>
            <p class="sub">{{survey.question}}</p>
            <p><input type="radio" name="num" value={{survey.ans1}} >{{survey.ans1}}</p>
            <p><input type="radio" name="num" value={{survey.ans2}} >{{survey.ans2}}</p>
            <p><input type="radio" name="num" value={{survey.ans3}} >{{survey.ans3}}</p>
            <p><input type="radio" name="num" value={{survey.ans4}} >{{survey.ans4}}</p>
            <p>
                <input type="hidden" name="survey_idx" value="{{survey.survey_idx}}">
                <input type="submit" value="투표">
                <input type="button" value="결과확인" onclick="location.href='result/{{survey.survey_idx}}'">
            </p>
            <script>console.log({{survey.survey_idx}});</script>
        </div>
    </form>
    {% endfor %}
    
</div>
</body>
</html>